* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(123, 161, 231);
    padding: 2rem;
}

img {
    width: 100%;
}

.gallery {
   
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(230, 240, 196);
    padding: 1rem;
    border-radius: 10px;

}

.gallery__header form {
    display: flex;
    width: 100%;
    gap: 2rem;
}


.button__gallery {
    border: none;
    border-radius: 5px;
    background-color: rgb(223, 158, 61);
    color: rgb(51, 51, 51);
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover {
        background-color: rgb(162, 214, 141);
    }
}

.input__gallery {
    padding: 0.5rem;
    border: 1px solid #c3c494;
    border-radius: 5px;
    flex: 1;
}

.space__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.gallery__image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}