/*Reset*/

 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
 }

 img {
    display: inline-block;
    max-width: 100%;
    width: 100%;
 }

/* /Reset*/


/* Block A */

.a {
    padding: 48px 0;
    background-color: #fbfbfb;

}

.a__block {
    max-width: 920px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    gap: 48px;
    align-items: center;


}
.a__img {
    flex: 1 1 310px;

}
.a__content {
    flex: 1 1 310px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px; /* Solo funciona con flex y grid*/
    
}

/** Intento B
.b {
    padding: 48px 0;
    background-color: #fbfbfb;
}
.__block {
    max-width: 920px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    gap: 16px;
    flex-direction: row;
    align-items: center;
}
.b__card {
    padding: 16px;
    gap: 16px;
    flex-direction: row;

}
.b__img {
    display: inline-block;
    max-width: 100%;
    width: 100%;
}
.b__content {
    padding: 16px 0 0 0;
} **/

/** Bloque B**/

.b {

    padding: 48px;
    background-color: #fbfbfb;

}
.b__block {
    display: flex;
    gap: 16px;
    padding: 16px;
    max-width: 920px;

    margin: 0 auto;
}
.b__card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;

}


/*MI INTENTO BLOQUE C


.c {

    background-color: #fbfbfb;
    padding: 48px;
 
}
.c__block {
    padding: 16px;
    max-width: 920px;
    display: flex;
    flex-direction: column;
    gap:32px ;
    align-items: start; 


}
.c__block__card {

    display: flex;
    padding: 16px 0;
    gap: 1rem;
}
.c__card {
    padding: 16px;
    gap: 1rem;

}

a {
   background-color: black; 
   color: #fbfbfb;
   padding: 16px 32px;
   border-radius: 50px;
   text-decoration: none;
} */

.c {
    padding: 48px 0;
}
.c__block {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;

    max-width: 920px;
    margin: 0 auto;
    align-items: start;

}
.c__content {
    display: flex;
    gap: 16px;
    padding: 16px 0;

}
.c__card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;

}

.btn {
   background-color: black; 
   color: #fbfbfb;
   padding: 16px 32px;
   border-radius: 50px;
   text-decoration: none;
}