* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    background-color: black;
    padding: 16px;
    gap: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 100px;
}

div {
    background-color: aliceblue;

    &.pepe {
        background-color: aquamarine;
        grid-column: span 2; /* span para indicar que ocupe dos espacios*/
        grid-row: 3 /4; 
        grid-area: ;
    }

    &.lulu {
        background-color:blueviolet;
        grid-column: ;
        grid-row: ;
        grid-area: 1/ 2 / 3 / 4;
    }

    &.juan {
        background-color:brown;
        grid-column: 1 /3;
        grid-row: 1 / 2 ;

  
    }
}